@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #4a63c500;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 20px 40px;
    color: rgb(0, 0, 0);
}

.heading {
    font-size: 60px;
    color: rgb(230, 157, 0);
}

.heading span {
    font-size: 30px;
}

.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.profile {
    flex-basis: 260px;
}

.profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img {
    filter: grayscale(0);
}

.user-name {
    margin-top: 30px;
    font-size: 35px;
}

.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #ccc;
}

.profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

@media only screen and (max-width: 1150px) {
    .profiles {
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .heading {
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .heading span {
        font-size: 15px;
    }
    .profiles {
        margin: 20px 0;
    }
    .profile p {
        margin: 20px 10px 80px 10px;
    }
    * {
        padding: 0;
        margin: 0;
    }
    .bod {
        background: rgba(0, 0, 0, 0.7) url("https://source.unsplash.com/1600x900/?books,contact");
        background-size: cover;
        background-blend-mode: darken;
    }
    .bod h1 {
        color: aliceblue;
    }
    .bod form {
        color: aliceblue;
        align-items: center;
        padding-left: 20px;
    }
    .fields {
        margin: 12px 0;
        width: 38%;
        padding: 6px;
        border: 93px black;
        border-radius: 18px;
    }
    .t-area {
        border: 2px;
        border-radius: 15px;
        width: 39%;
    }
    .form-style li {
        list-style-type: none;
    }
    .div {
        box-align: center;
    }
    .form-style {
        max-width: 1200px;
        margin: auto;
    }
    .btn {
        padding: 8px 20px;
        margin: 7px 0;
        border: 2px solid white;
        border-radius: 8px;
        font-size: 18px;
        background: none;
        color: white;
    }
}